h1 {
    border-radius: 10px;
    width: auto;
    padding: 10px;
    font-size: 34px;
}

p {
    font-size: 14px;
    padding: 20px;
    padding-bottom: 1px;
    text-indent: 4em;
    text-align: justify;
}

body {
    font-family: Montserrat, sans-serif;
    color: #e5e5e5;
    font-size: 12px;
    background-color: #3b4148;
    line-height: 1;
}

body h1 {
    background-color: #3b4148;
}

.box {
    background-color:rgba(252,242,255,0.2);
    border-radius: 20px 10px;
    width: auto;
    padding: 10px;
}

svg {
    width: 0;
    height: 0;
}